<h1>Welcome to Find and Replace</h1>
<form action="/replacement">
  <div class="form-group">
    <label for="sentence">What sentence would you like to edit?
    </label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="look_for">What word would you like to replace?
    </label>
    <input id="look_for" name="look_for" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="replace_with">What word would you like to put in its place?
    </label>
    <input id="replace_with" name="replace_with" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>
</form>
